{% extends 'base.html.twig' %}

{% block title %}Edit Quiz{% endblock %}

{% block header %}
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Edit Quiz</h1>
    </div>
</header>
{% endblock %}


{% block body %}



    <div class="relative bg-white shadow-md dark:bg-gray-800 sm:rounded-lg mb-5">
      <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
        <div class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">
            <a href="{{ path('app_quiz_index') }}" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Back to list
            </a>
        </div>
        <div class="flex items-end w-full space-x-3 md:w-auto">
            {{ include('quiz/_delete_form.html.twig') }}
        </div>
      </div>
    </div>
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        {{ include('quiz/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
