{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur !</h1>

    <p>
        Erreur : Nos développeurs sont en train de chasser un chat curieux hors du système.
        <a href="{{ path('app_homepage_index') }}">Retour à la case départ</a>.
    </p>
{% endblock %}
