{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvé.</h1>

    <p>
        404 : Cette page est aussi introuvable qu'une aiguille dans une botte de foin.
        <a href="{{ path('app_homepage_index') }}">Retour à la case départ</a>.
    </p>
{% endblock %}
